<div class="w-full py-4">
  <form method="post"  (ngSubmit)="onLogin()">
    <div class="mb-12">
      <h2 class="text-5xl font-bold">
        <span class="text-orange-700">SHARE</span
        ><span class="text-indigo-700">ZONE</span>
      </h2>
      <p class="text-sm mt-2 text-gray-500">A place to share your thoughts</p>
    </div>

    <div class="mb-6">
      <label class="text-gray-700 text-sm block mb-2">Email</label>
      <div class="relative">
        <input
          name="email"
          type="text"
          required
          class="w-full text-gray-800 text-sm border border-gray-300 focus:border-blue-500 rounded-md px-4 py-2 outline-none transition-all"
          placeholder="Enter email"
          [(ngModel)]="Email"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M20.016 6.984v10.031c0 1.125-.891 2.016-2.016 2.016H6c-1.125 0-2.016-.891-2.016-2.016V6.984c0-1.125.891-2.016 2.016-2.016h12c1.125 0 2.016.891 2.016 2.016z"
          />
        </svg>
      </div>
    </div>

    <div class="mb-6">
      <label class="text-gray-700 text-sm block mb-2">Password</label>
      <div class="relative">
        <input
          name="password"
          type="password"
          required
          class="w-full text-gray-800 text-sm border border-gray-300 focus:border-blue-500 rounded-md px-4 py-2 outline-none transition-all"
          placeholder="Enter password"
          [(ngModel)]="Password"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-400 cursor-pointer"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M12 5c4.418 0 8.006 2.594 9.879 6.148A11.894 11.894 0 0 1 12 18c-4.418 0-8.006-2.594-9.879-6.148A11.894 11.894 0 0 1 12 5zm0 2C9.348 7 6.993 8.67 5.701 11.243a9.887 9.887 0 0 0 12.598 0A9.887 9.887 0 0 0 12 7zm0 2a3 3 0 1 1 0 6 3 3 0 0 1 0-6z"
          />
        </svg>
      </div>
    </div>


    <div class="flex flex-wrap items-center justify-between gap-4 mt-6">
      <div class="flex items-center">
        <input
          id="remember-me"
          name="remember-me"
          type="checkbox"
          class="h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
        />
        <label for="remember-me" class="ml-3 block text-sm text-gray-800">
          Remember me
        </label>
      </div>
      <div>
        <a
          href="jajvascript:void(0);"
          class="text-blue-600 font-semibold text-sm hover:underline"
        >
          Forgot Password?
        </a>
      </div>
    </div>

    <div class="mt-12">
      <button
        type="submit"
        class="w-full shadow-xl py-2.5 px-4 text-sm tracking-wide rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none"
      >
        Sign in
      </button>
    </div>

  </form>
</div>
